<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="/css/test.css"/>
</head>
<body>
	<!-- URL 설계 -->
	<ul>
		<li><a href="/">INDEX</a></li>
		<li><a href="join">JOIN</a></li>
		<li><a href="login">LOGIN</a></li>
		<li><a href="write">글쓰기</a></li>
	</ul>
	<hr/>
	<h2>INDEX</h2>
	<h2>Get 요청 파라미터 테스트</h2>
	<ul>
		<li><a href="list?name=트와이스&age=25">파라미터 연습1</a></li>
		<li><a href="listA?name=트와이스&age=25&address=서울&gender=male">파라미터 연습2</a></li>
		<li><a href="listB?name=뉴진스&age=22&address=LA&gender=female">파라미터 연습3</a></li>
		<!-- 파라미터가 없는 경우 처리 (age 파라미터 없음) -->
		<li><a href="listA?name=아이브&address=서울&gender=male">파라미터 연습4</a></li>
		<!-- 파라미터가 없는 경우 처리 (name 파라미터 없음) -->
		<li><a href="listA?age=25&address=서울&gender=male">파라미터 연습5</a></li>
		<li><a href="listB?name=소녀시대&address=LA&gender=female">파라미터 연습6</a></li>
	</ul>
	
	
	
</body>
</html>